<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-md-12"> 
            <form (ngSubmit)="submitData()" class="p-4 border rounded shadow" style="max-width: 600px; width: 100%;">
                <h3 class="mb-4">Time Series Data Entry</h3>
                <div class="mb-3">
                    <label for="variable" class="form-label">Variable</label>
                    <input type="text" class="form-control" id="variable" name="variable" placeholder="Variable"
                        [(ngModel)]="model.variable" required />
                </div>
                <div class="mb-3">
                    <label for="timestamp" class="form-label">Timestamp</label>
                    <input type="datetime-local" class="form-control" id="timestamp" name="timestamp"
                        [(ngModel)]="model.timestamp" required />
                </div>
                <div class="mb-3">
                    <label for="value" class="form-label">Value</label>
                    <input type="number" class="form-control" id="value" name="value" placeholder="Value"
                        [(ngModel)]="model.value" required />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>